*{
    margin:0px;
    padding:0px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
}
body{
    background: whitesmoke;
    overflow-x: hidden;
    overflow-y: scroll;
}
.nav_bar{
    width:100%;
    height: 30px;
    color:white;
}
.nav_bar .flex_text .logo h2{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size:50px;
}
.nav_bar .flex_text{
    position: absolute;
    display: flex;
    width:100%;
    height: 530px;
    background: rgba(0, 0, 0, 0.37);
    padding:20px 0px 0px 40px;
}
.nav_bar .img img{
    width:100%;
    height:550px;
}
.nav_bar .flex_text .button{
    position: absolute;
    right: 50px;
    width:40%;
    padding-top:10px;
    display: flex;
}
.nav_bar .flex_text .button a{
    margin-left: 20px;
    color:white;
    font-size: 20px;
    text-decoration: none;
}
.nav_bar .flex_text .hover{
    width:90px;
    height: 30px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.nav_bar .flex_text .hover:hover{
    background:rgb(0, 255, 13);
    color:black;
}
.nav_bar .flex_text .hover a:hover{
    color:black;
}
.nav_bar .flex_text .button button{
    width:150px;
    height: 30px;
    margin-left: 20px;
    background:rgb(0, 255, 13);
    border:2px solid rgb(0, 255, 13);
    border-radius: 10px;
    cursor: pointer;
    color:black;
}
.nav_bar .flex_text .button button:hover{
    box-shadow: 0px 0px 30px rgb(0, 255, 13);
}
span{
    color:rgb(0, 255, 13);
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size:50px;
}
.flxTx{
    position:absolute;
    width:100%;
    margin-top: 120px;
    font-size:25px;
    text-align:center;
}
.flxTx button{
    width:200px;
    height:30px;
    background: rgb(0, 255, 13);
    border:2px solid  rgb(0, 255, 13);
    border-radius: 10px;
    box-shadow:0px 0px 30px rgb(0, 255, 13);
    cursor:pointer;
    transition:0.4s ease-in-out;
}
.flxTx button:hover{
    scale:1.1;
}

.lower_part{
    width:100%;
    height:600px;
    margin-top: 520px;
    background: white;
    box-shadow: 0px 0px 20px black;
}
.lower_part .card_section{
    display: flex;
    flex-wrap: wrap;
}
.lower_part .card_section .card{
    width: 300px;
    height:350px;
    border:2px solid rgb(0, 255, 13);
    margin-left: 40px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0px 0px 30px rgb(0, 255, 13);
    overflow: hidden;
    text-align: center;
    background:linear-gradient(rgb(0, 255, 13),rgb(0, 255, 13));
    background-repeat: no-repeat;
    background-position: 340px 0;
    transition: 0.4s ease-in-out;
    scale:0.9;
    cursor: pointer;
}
.lower_part .card_section .card:hover{
    background-position: 0 0;
    scale:1.0;
}
.lower_part .card_section .card img{
    width: 300px;
}
.lower_part .card_section .card h2{
    margin-top:23px;
}
.dicore{
    margin-top:50px;
}
.dicore .line1{
    width:90%;
    height: 4px;
    background: rgb(0, 255, 13);
    margin:auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  rgb(0, 255, 13);
}
.dicore .line2{
    width:60%;
    height: 3px;
    background: rgb(0, 255, 13);
    margin:auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px  rgb(0, 255, 13);
}

.about{
    width:100%;
    height: 500px;
    margin-top: 100px;
}
.about .flx{
    display: flex;
    flex-wrap: wrap;
}
.about .flx .flx_text{
   margin-left: 50px;
   margin-top:60px;
}
.about .flx img{
    width:600px;
    height: 400px;
    position: absolute;
    right:20px;
    box-shadow: 0px 0px 20px black;
    border-left:5px solid rgb(0, 255, 13);
    border-bottom:5px solid rgb(0, 255, 13);
}
#green{
    color:rgb(0, 255, 13);
}
.photos{
    width:100%;
    height:700px;
}
.photos .flex_photos{
    display:flex;
    margin: auto;
    width:90%;
    margin-top: 40px;
}
.photos .flex_photos .flex_button{
    position:absolute;
    padding-left: 160px;
    padding-top: 150px;
    background:linear-gradient(to right,#2f2f2f91,#25a400e6);
    width: 340px;
    height:183px;
    margin-left:40px;
    transition: 0.4s ease-in-out;
    opacity: 0.5;
    border-radius: 10px;
}
.photos .flex_photos .flex_button:hover{
    background:linear-gradient(to right,#2f2f2f91,#25a400e6);
    opacity:1;
}
.photos .flex_photos .flex_button button{
    width:200px;
    height: 30px;
    margin:auto;
    cursor: pointer;
    background:rgb(0, 255, 13);
    border:2px solid rgb(0, 255, 13);
    border-radius: 10px;
    transition: 0.4s ease-in-out;
}
.photos .flex_photos .flex_button button:hover{
    scale:1.1;
    box-shadow: 0px 0px 20px rgb(0, 255, 13);
}
.photos .flex_photos .image img{
    width:500px;
    margin:auto;
    margin-left: 40px;
    box-shadow: 0px 0px 20px black;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.contact{
    width:100%;
    height: 600px;
    margin-top: 400px;
}
.contact .box{
    margin:auto;
    margin-top: 150px;
    width:300px;
}
.contact .box textarea{
    width:260px;
    height: 200px;
    text-align: center;
    border:3px solid rgb(0, 255, 13);
}
.contact .box input{
    width:250px;
    height: 40px;
    padding-left: 10px;
    border:3px solid rgb(0, 255, 13);
    border-radius: 5px;
}
.contact .box button{
    width:260px;
    height: 35px;
    cursor: pointer;
    background:rgb(0, 255, 13);
    border:2px solid rgb(0, 255, 13);
    box-shadow: 0px 0px 30px rgb(0, 255, 13);
    border-radius: 10px;
}
.footer{
    width:100%;
    height: 450px;
    background: linear-gradient(to top,#144a00,black);
}
.footer .flex_words{
    display: flex;
    width:90%;
    margin: auto;
}
.footer .flex_words .item{
    margin-left: 80px;
    margin-top: 100px;
    border-left: 4px solid rgb(0, 255, 13);
    border-bottom: 4px solid rgb(0, 255, 13);
    border-radius: 10px;
}
.footer .flex_words .item a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px
}
.footer .flex_words .item a:hover{
    box-shadow: 0px 0px 30px rgb(0, 255, 13);
    border-radius: 20px;
}